@charset "UTF-8";
/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.page.theme_dark  {
  --font-family: "IBM Plex mono", sans-serif;
  --bg-color: #000028;
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: #FF0070;
  --title-shadow: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --color-hover: rgba(255, 0, 112, 0.4);
  --text-title-color: var(--bg-color);
  --section-heading-color: var(--title-shadow);
  --title-decor: var(--title-shadow);
  --title-color: #db00ff;
  --rec-color: var(--title-shadow); 
  --corners-color: var(--title-shadow);
  --article-title-color: var(--bg-color); 
  --link-shadow: var(--title-shadow); 
}

.page.theme_dark .header__rec {
  display: block;
}