/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color, rgba(241, 178, 206, 1));
  background:
    var(--background-image) no-repeat top center,
    var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex Mono', 'Arial', sans-serif;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
}

.header {
  position: relative;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
}

@media (min-width: 768px) {
  .header {
    min-block-size: 1024px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    align-items: start;
    padding: 20px;
    min-block-size: 768px;
  }
}
 
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 11px;
  justify-content: center;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    align-items: start;
  }
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-decor);
  margin-left: 0;
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -3%;
    line-height: 99px;  
  }
}

@media (min-width: 1024px) {
  .header__title {
    margin-left: -2%;
    line-height: 129.53px;
    text-shadow: 4px 4px 0 var(--title-shadow);
  }
}

.header__paragraph {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
  color: var(--article-title-color);
}

@media (min-width: 768px) {
  .header__paragraph { 
    justify-self: end;
    width: 50%;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 10px;
  bottom: 17px;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }
}

.header__rec {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 35px;
  color: var(--rec-color);
  font-family: 'IBM Plex Mono', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

@media (min-width: 768px) {
  .header__rec {
    top: 21px;
    right: 50px;
  }
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--corners-color);
  border-right: 1px solid var(--corners-color);
  right: 10px;
  top: 10px;
}

@media (min-width: 768px) {
  .header__rec::after {
    border-radius: 50%;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
}

.header__theme-menu-button {
  color: var(--corners-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background: transparent;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
} 

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--corners-color);
  pointer-events: none;
}

.title-decor {
  background-color: var(--title-decor);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 10px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .main {
    gap: 80px;
    padding: 0 20px;
    margin: 60px 0;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 0 20px;
    margin: 60px 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.section {
  line-height: 130%;
}

@media (max-width: 767px) {
  .content-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  }

.section__heading {
  font-size: 18px;
  font-weight: 700;
  color: var(--section-heading-color);
  line-height: 23.4px;
}

.section__article-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.why .section__article-group {
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .what {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .why {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .why .section__heading {
    flex: 0 0 auto;
    width: 31%;
  }

  .why .section__article-group {
    flex: 0 0 auto;
    width: 65%;
  }

  .section__article-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 1024px) {
  .why .section__heading {
    width: 33%;
  }

  .why .section__article-group {
    width: 66%;
  }

  .what .section__article-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
}

.article__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--article-title-color);
}

.color-title {
  color: var(--article-title-color);
}

.article-text-link {
  border: transparent;
  text-shadow: 2px 1px 0px var(--link-shadow);
  text-decoration: none;
}

.article-text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.article-text-link:focus {
  outline: none;
}

.article-text-link:focus-visible {
  outline: 1px solid var(--text-color);
  border-bottom: none;
}

.article__heading-regular {
  font-weight: 400;
}

@media (min-width: 768px) {
  .what .section__heading {
    width: 25%;
  }

  .advice {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .advice .section__article-list {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .what .section__heading {
    width: 35%;
  }

  .advice {
    grid-template-columns: 31% 1fr;
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .advice .section__article-group {
    flex: 0 0 auto;
    flex-direction: column;
  }
}

.section__images {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

@media (min-width: 768px) {
  .section__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__images .section__image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .section__images .section__image:first-of-type,
  .section__images .section__image:last-of-type {
    grid-column: span 2;
  }

  .section__images .section__image:nth-of-type(2),
  .section__images .section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .section__images .article__heading {
    grid-column: 1/-1;
    width: 100%;
    margin: 0;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-decor);
}

@media (min-width: 768px) {
  .footer {
    margin-top: 0;
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    text-shadow: 2px 2px 0px var(--title-shadow);
  }
}


