/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex mono", sans-serif;
  --bg-color: #000028;
  --text-color: rgba(241, 178, 206, 1);
  --title-shadow: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --color-hover: rgba(255, 0, 112, 0.4);
  --section-heading-color: var(--title-shadow);
  --title-decor: var(--title-shadow);
  --title-color: #db00ff;
  --rec-color: var(--title-shadow); 
  --corners-color: var(--title-shadow);
  --article-title-color: var(--bg-color); 
  --link-shadow: var(--title-shadow); 
}

